*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



body{
    background-color:#e8e8e8 ;
}
.body{
    padding: 30px 0 0 290px;
}
.first-list li:first-child{
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-decoration: line-through;
    color: #273d46;
}
.first-list li:nth-child(2){
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #273d46;
}
.first-list li:nth-child(3){
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #273d46;
}
.first-list li:last-child {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #273d46;
}
.first-list li{
    margin-bottom: 13px;
    background-size: 25px auto;
    border: #273d46 dotted;
    max-width: fit-content;
}

.first-list li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 19px;
    background: url("img/check.png") no-repeat center left;
    margin-right: 10px;
    margin-left: 2px;
} /*вставили галочки фоном при помощи псевдоэлементом */

.first-list{
    margin-bottom: 137px;
}

.first-list li:nth-child(1):hover {
    text-decoration: none;
}

.first-list li:nth-child(2):hover {
    color: #d55a5a 
}

.first-list li:nth-child(2):hover::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 19px;
    background: url("img/check_red.png") no-repeat center left;
    margin-right: 10px;
    margin-left: 2px;
}



.first-list li:nth-child(3):hover {
    font-style: normal;
}
.first-list li:nth-child(4):hover {
    text-transform: initial;
}


.link{
    display: inline-block;
    max-width: 199px;
    max-height: 44px;
    margin-bottom: 118px;
}
.hyperlink {
    display: inline-block;
    max-width: 199px;
    max-height: 44px;
    border-radius: 20px;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    background-color: #80b7b3;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    
}
.hyperlink span{
    display: inline-block;
    width: 199px;
    height: 44px;
    border: #273d46 dotted;
    padding-left: 30px;
}
.hyperlink span::after
{
   content: "";
   display: inline-block;
   background: url("img/arrow.png") no-repeat center center;
   margin-left: 11px;
   border: #273d46 dotted;
   width: 21px;
   height: 14px;
}

.hyperlink:hover {
    background-color: #3a5856;
}
.hyperlink:active {
    background-color: #818181
}


.text {
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    margin-bottom: 118px;
}

.text-footer p {
    display: block;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 75px;
    max-width: 762px;
    margin-bottom: 43px;
}
.text-footer p:first-child:first-line {
    font-family: Arial;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #ff0000;
}

.text-footer p:last-child:first-letter {
    font-family: Arial;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: #ff0000;
}

